* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the start of the header */
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 100;
  margin-right: 10px; /* Add some spacing between the logo and site name */
}

header img {
  margin-right: 8px;
}

.container {
  background: #eee;
  padding: 50px 20px; /* Adjust padding to create space below the header */
  padding-left: 100px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  min-height: calc(
    100vh - 100px
  ); /* Subtract header height from viewport height */
  width: 100%;
  max-width: 100%;
}

.form {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input[type="date"],
.form input[type="number"],
.form input[type="text"],
.form button,
.form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 100px;
  font-size: 16px;
}

.form button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.form button:hover {
  background-color: #45a049;
}

/* Modal */
/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative; /* Added */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #999;
}

.close:hover {
  color: #333;
}
